* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

.logo {
  text-align: center;
}
.logo img {
  width: 200px;
  height: auto;
  margin: 20px;
}

.menu ul {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.menu ul a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  padding: 15px 5px;
}
.menu .active a {
  background-color: #B2E5FC;
  font-weight: 700;
}

.menu--respo {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  .menu--respo {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 20px;
  }
}
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.boxes .box {
  width: calc((100% / 3) - 10px);
  margin: 5px;
}
.boxes .box:last-child {
  padding-bottom: 50px;
}
.boxes .box img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-repeat: repeat;
  background-size: contain;
  min-height: 500px;
}
main h2 {
  margin: 0 5px;
  color: #002D73;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
}

@media (max-width: 1000px) {
  .boxes .box {
    width: calc((100% / 2) - 10px);
  }
}
@media (max-width: 600px) {
  .boxes .box {
    width: calc((100%) - 10px);
  }
}
.prodotto {
  background-color: #B7DBE7;
  padding-bottom: 50px;
}
.prodotto h1 {
  font-size: 38px;
  text-align: center;
  padding: 50px;
  color: #002D73;
}
.prodotto p {
  color: #002D73;
  font-weight: 600;
}
.prodotto img {
  width: 100%;
}

footer {
  height: 800px;
  padding-top: 50px;
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  color: #848D9B;
}
footer .container {
  display: flex;
  justify-content: flex-start;
}
footer .column {
  margin: 20px;
  width: 30%;
}
footer .column h3 {
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px 0;
}
footer .column a {
  text-decoration: none;
  color: #848D9B;
  line-height: 2;
  font-weight: 600;
}

@media (max-width: 800px) {
  footer {
    height: auto;
    padding-bottom: 80px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .column {
    width: 100%;
  }
}
