* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.logo {
  text-align: center;
}
.logo img {
  width: 200px;
  height: auto;
  margin: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 15px;
}
.menu ul a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  padding: 15px 5px;
  text-decoration: none;
}
.menu .active a {
  background-color: #B2E5FC;
  font-weight: 700;
}

.menu--respo {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  .menu--respo {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 20px;
  }
}
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.boxes .box {
  width: calc((100% / 3) - 10px);
  margin: 5px;
}
.boxes .box img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-size: contain;
  background-repeat: repeat;
}
main h2 {
  margin: 10px;
  color: #002D73;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  padding-top: 50px;
}

@media (max-width: 1000px) {
  .boxes .box {
    width: calc((100% / 2) - 10px);
  }
}
@media (max-width: 600px) {
  .boxes .box {
    width: calc((100%) - 10px);
  }
}
