.logo {
    text-align: center;

    img {
        width: 200px;
        height: auto;
        margin: 20px;
    }
}

.menu {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        a {
            color: #000;
            font-size: 20px;
            font-weight: 600;
            margin: 0 10px;
            padding: 15px 5px;
        }
    }

    .active {
        a {
            background-color: $primaryColor;
            font-weight: 700;
        }
    }
}

.menu--respo {
    display: none;
}
@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .menu--respo {
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 20px;
    }
}
