.boxes {
    display: flex;
    flex-wrap: wrap;

    .box {
        width: calc((100% / 3) - 10px);
        margin: 5px;

        &:last-child {
            padding-bottom: 50px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

main {
    background-image: url("../images/fondo-pag-speciali.jpg");
    background-repeat: repeat;
    background-size: contain;
    min-height: 500px;

    h2 {
        margin: 0 5px;
        color: $txtPrimary;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
    }
}
@media (max-width: 1000px) {
    .boxes {
        .box {
            width: calc((100% / 2) - 10px);
        }
    }
}
@media (max-width: 600px) {
    .boxes {
        .box {
            width: calc((100%) - 10px);
        }
    }
}
